{% comment %}
<!--
  Header

  This partial is included on every page except to consistently
  display the same header on each page.

-->
{% endcomment %}

<div id="overlay-menu">
  <h3 class="h3"><a href="/" class="logo"><img src="{{ site.baseurl }}/images/logo.svg" alt="Eight Chakras"></a><span id="close-sidebar" class="pull-right">×</span></h3>
  <ul class="list categories">

  {% comment %}<!--Get Categories for Header-->{% endcomment %}

  {% assign pages = site.pages | sort:"weight"  %}

  {% for p in pages %}
    {% if p.menu-item %}
    {% capture cat_url %}/story/category/{{ cat[0] | replace: ' ', '-' }}/{% endcapture %}
      <li {% if page.url == p.url %}class="active"{% endif %} ><a href="{{ p.url | prepend: site.baseurl }}">
      Yoga for <span class="{{ p.color }}">{{ p.title | capitalize }}</span>
      </a></li>
    {% endif %}
  {% endfor %}

  </ul>
  <ul class="list">
  {% comment %}<!--Get Footer Nav Items-->{% endcomment %}

  {% assign pages = site.pages | sort:"footer-order"  %}

  {% for p in pages %}
    {% if p.footer-menu %}
      <li {% if page.url == p.url %}class="active"{% endif %} >
        <a href="{{ p.url | prepend: site.baseurl }}">{{ p.path | replace: '-', ' ' | replace: '.md', '' | replace: '_pages/', '' }}</a>
      </li>
    {% endif %}
  {% endfor %}
    <li>
      <a href="{{ site.baseurl }}/feed.xml">Rss</a>
    </li>
  </ul>
</div>