---
layout: default
---

{% include banner.html subscribe=true %}

{% assign cat_colors = site.data.story-categories.story-categories %}

<!-- latest stories -->
<div class="main container">
	<section class="latest-stories content">
	  <h3>Most Recent</h3>

    {% for post in site.posts %}
	  <article style="display:none;">
      <div class="row">
        <div class="col-sm-4 col-xs-12">
          <figure><a href="{{ post.url | prepend: site.basurl }}"><img src="{{ site.baseurl }}/images/placeholder-thumb.png" data-src="{{ site.baseurl }}{{ post.image }}" class="lazyload block" alt="{{ post.image-title }}"></a></figure>
 	      </div>
        <div class="col-sm-5 col-xs-12">

        {% assign pages = site.pages | sort:"weight" %}

        {% for p in pages %}
          {% assign cat_title = p.title | downcase %}
          {% if post.categories[0] == cat_title %}

            <a class="tag {{ p.color }}"  href="{{ p.url | prepend: site.baseurl }}">
              {{ p.title | capitalize }}
            </a>

          {% endif %}
        {% endfor %}

          <div class="date"><time datetime="{{ post.date }}"></time></div>
          <div class="clearfix"></div>
          <header>
            <h2><a href="{{ post.url | prepend: site.basurl }}">{{ post.title }}</a></h2>
          </header>
          {% if post.content contains '<!--more-->' %}
            {{ post.content | split:'<!--more-->' | first }}
          {% else %}
            <p>{{ post.excerpt }}</p>
          {% endif %}
          <div class="author hidden-xs">by <a href="#">{{ post.author }}</a></div>
        </div>
      </div>
    </article>
    {% endfor %}
    <div class="text-center">
      <a href="#2" class="btn load" id="loadMore">Load More</a>
    </div>
	</section>
</div>